name: Tracker CI

on:
  push:
    branches:
      - main
    paths:
      - 'tracker/**'
      - '.github/workflows/tracker-ci.yml'
  pull_request:
    paths:
      - 'tracker/**'
      - '.github/workflows/tracker-ci.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tracker
    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Lint
      run: npm run lint
